{% extends "_layout.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes bg-danger">
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{%endif%}
{% endwith %}
<h1>{{ errors }} </h1>
{% for error in errors if errors|length > 0 %}
  <li class="error"><font color="red">{{error}}</font></li>
{% endfor %}
<div class = "container">
  <h4>Profile : {{ userinfo.name }} </h4>
  <div class = "row justify-content-center">
    <div class = "col-6 h-25 justify-content-center">
      <div class ="profile_image">
        <img class="card-img-top" src="{{ userinfo.profile_image_url }}">
      </div>
    </div>
  </div>
  <div class = "row justify-content-center">
      <div class = "col-6"> 
        <form method = "POST" action = "{{ url_for('users.update', id = userinfo.id) }}">
          <input type = "hidden" name = "csrf_token" value = "{{ csrf_token() }}" />
          <div class="form-group w-100">    
              <label for="user_file">Image Files:</label>
              <input type='file' name='user_file' class="form-control" />
              <button type="submit" formmethod="POST" formaction="{{ url_for('users.upload_file', id = userinfo.id) }}" formenctype="multipart/form-data" class="w-100 text-align-center btn btn-primary mt-2">Upload</button><br>
              
              <label for="username">Username:</label>
              <input type='text' value = {{userinfo.username}} name='username'class="form-control" />
              
              <label for="email">Email:</label>
              <input type='Email' value = {{userinfo.email}} name='email' class="form-control" />
              <button type="submit" class="w-100 btn btn-primary mt-2">Update</button>
          </div>    
        </form>
      </div>
    </div>
</div>
{%endblock%}
