{% extends "_layout.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes bg-danger">
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{%endif%}
{% endwith %}
<h1>{{ errors }} </h1>
{% for error in errors if errors|length > 0 %}
  <li class="error"><font color="red">{{error}}</font></li>
{% endfor %}

<h5 class ="ml-2">User Profile <span><a class ="text-light align-baseline btn btn-primary" href="{{ url_for('users.edit',id=userinfo.id) }}" style="width:200px">EDIT</a></span></h5> 
<div class = "user_profile container justify-content-center">
  <div class = "row justify-content-center">
      <div class="col-sm-6 col-md-4 col-lg-6 mt-4">
        <div class="card shadow p-3 mb-5 bg-white rounde">
            <img class="card-img-top" src="https://picsum.photos/200/150/?random">
            <div class="card-block p-4">
                <h4 class="card-title text-center">{{userinfo.name}}</h4>
                <div class="meta">
                    <a href="#">Friends</a>
                </div>
                <div class="card-text mb-2">
                    {{ userinfo.name }} lives in no where.
                </div>
            </div>
         
        </div>
      </div>
  </div>
</div>
{%endblock%}
<!-- 
  This is card footer can be place aboce
<div class="card-footer">
  <span class="float-right">Joined in 2013</span>
  <span><i class=""></i>75 Friends</span>
</div>
-->